on: [push]

jobs:
  unscoped:
    env:
      PACKAGE_NAME: unscoped

    runs-on: ubuntu-latest

    steps:
    - name: Create unscoped package
      run: |
        cat > package.json <<- EOM
        {
          "name": "${{ env.PACKAGE_NAME }}",
          "version": "1.0.0-${{ github.sha }}",
          "repository": "https://github.com/${{ github.repository }}"
        }
        EOM

    - name: Create .npmrc
      run: |
        cat > .npmrc <<- EOM
        //npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}
        registry=https://npm.pkg.github.com/@${{ github.repository_owner }}/
        EOM

    - name: Publish unscoped package
      run: npm publish

    - name: Remove the package
      run: rm package.json

    - name: Restore the package
      run: npm install ${{ env.PACKAGE_NAME }}@1.0.0-${{ github.sha }}
      
  scoped:
    env:
      PACKAGE_NAME: "@${{ github.repository_owner }}/scoped"

    runs-on: ubuntu-latest

    steps:
    - name: Create different scoped package
      run: |
        cat > package.json <<- EOM
        {
          "name": "${{ env.PACKAGE_NAME }}",
          "version": "1.0.0-${{ github.sha }}",
          "repository": "https://github.com/${{ github.repository }}"
        }
        EOM
    - name: Create .npmrc
      run: |
        cat > .npmrc <<- EOM
        //npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}
        registry=https://npm.pkg.github.com/@${{ github.repository_owner }}/
        EOM
    - name: Publish different scoped package
      run: npm publish

    - name: Remove the package
      run: rm package.json

    - name: Restore the package
      run: npm install ${{ env.PACKAGE_NAME }}@1.0.0-${{ github.sha }}
      
  npmjs:
    env:
      PACKAGE_NAME: "@jcansdale/ghvs" # this exists to npmjs.org
      PACKAGE_SCOPE: "jcansdale"
    runs-on: ubuntu-latest

    steps:
    - name: Create .npmrc
      run: |
        cat > .npmrc <<- EOM
        //npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}
        registry=https://npm.pkg.github.com/${{ env.PACKAGE_SCOPE }}/
        EOM

    - name: Restore package from npmjs
      run: npm install ${{ env.PACKAGE_NAME }}
